<div class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white">

  <div class="page-wrapper">
    <app-header></app-header>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">

      <app-navigation></app-navigation>
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
          <!-- BEGIN PAGE HEADER-->
          <!-- BEGIN PAGE BAR -->
          <div class="page-bar">
            <ul class="page-breadcrumb">
              <li>
                <a>Pages</a>
              </li>
            </ul>
          </div>
          <!-- END PAGE BAR -->
          <router-outlet></router-outlet>
     
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
      <div class="page-footer-inner"> 2018 &copy; ayhmi</div>
      <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
      </div>
    </div>
    <!-- END FOOTER -->
  </div>

</div>
