<div class="amount-button-container col-md-12">
  <button class="amount-button" type="button" (click)="setPercentageAmount(0.02, symbo)" name="button">%2  </button>
  <button class="amount-button" type="button" (click)="setPercentageAmount(0.1, symbo)" name="button">%10 </button>
  <button class="amount-button" type="button" (click)="setPercentageAmount(0.25, symbo)" name="button">%25 </button>
  <button class="amount-button" type="button" (click)="setPercentageAmount(0.5, symbo)" name="button">%50 </button>
  <button class="amount-button" type="button" (click)="setPercentageAmount(1, symbo)" name="button">%100</button>
</div>
