<div class="animated fadeIn">
    <div class="row">
          <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-header">
                  Symbols
                </div>
                  <ng-container *ngFor="let symbol of exchangeInfo?.symbols">
                    <button type="button" class="btn btn-primary" (click)="setCurrentSymbol(symbol.symbol)">{{symbol.symbol}}</button>
                  </ng-container>
              </div>
          </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
            {{currentSymbol}}
          </div>
          <tabset>
            <tab heading="Limit">
              <form action="" method="post" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Price</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{price}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Amount</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Total</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </form>
              <button type="button" class="btn btn-block btn-success active" aria-pressed="true">Buy</button>
              <button type="button" class="btn btn-block btn-danger active" aria-pressed="true">Sell</button>
            </tab>
            <tab heading="Market">
                <form action="" method="post" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Price</label>
                      <div class="col-md-9">
                        <p class="form-control-static">{{price}}</p>
                      </div>
                              <label class="col-md-3 col-form-label">Amount</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </form>
                  <button type="button" class="btn btn-block btn-success active" aria-pressed="true">Buy</button>
                  <button type="button" class="btn btn-block btn-danger active" aria-pressed="true">Sell</button>
                </tab>
            <tab heading="Stop-Limit">
                <form action="" method="post" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Stop</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" value="{{price}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Limit</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="{{price}}">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Amount</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Total</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </form>
                  <button type="button" class="btn btn-block btn-success active" aria-pressed="true">Buy</button>
                  <button type="button" class="btn btn-block btn-danger active" aria-pressed="true">Sell</button>
                </tab>
          </tabset>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
</div>
